<form  
class="login-form" 
[formGroup]="form"
(ngSubmit)="onSubmit()">
    <h1 class="h1">Вход</h1>
    <label for="" class="tt-control-label">
        Telegram username
        <input 
        formControlName="username"
        class="tt-input"
        type="text" 
        name="" 
        placeholder="Введите логин" 
       >
    </label>
    <label for="" class="tt-control-label">
        Пароль
        <span class="pass-intput">
            
            <input
            formControlName="password"  
            class="tt-input"
            [type]="isPasVis() ? 'text' : 'password'" 
            placeholder="Введите пароль" 
            >
            <button (click)="isPasVis.set(!isPasVis())" class="pass-eye-btn">
                <img src="/assets/images/pass.png" alt="">
            </button>
        </span>
    </label>
    <button class="btn">Войти</button>
</form>
<img src="/assets/images/Content.png" alt="">