:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 5%;
}
.pass-intput {
    position: relative;

}
.pass-eye-btn{
    position: absolute;
    background: none;
    border: none;
    color: red;
    top: 40%;
    right: -280px;
    cursor: pointer;
}